body {
   margin: 0;
   overflow-x: hidden;
}

.hero {
   box-sizing: content-box;
   height: 765px;
	width: 100%;
	margin: 0;
}

.header {
   right: 0;
   left: 0;
   top: 0;
   position: absolute;
   font-family: 'Red Hat Text';
   font-style: normal;
   z-index: 111;
	display: flex;
   align-items: center;
   height: 90px;
	padding: 0px 120px;
	justify-content: space-evenly;

	background-color:rgba(242, 120, 92, 0.7);
   box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}
.headerlogo {
   font-family: 'Magra';
}

.loginbutton {
	color: #ffffff;
	font-family: 'Red Hat Text';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 21px;

   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 10px 0px;
   gap: 10px;
	border-style:none;

   width: 103px;
   height: 41px;
   right: 120px;

   background: #0D606F;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
   border-radius: 10px;
}

.navul {
   width: 527px;
   height: 21px;
   left: 494px;
   top: 22px;

	display: flex;
   flex-direction: row;
   align-items: flex-start;
   gap: 42px;

	list-style-type: none;
	color: #ffffff;
	font-family: 'Red Hat Text';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 21px;
}

.pageone {
   width: 100%;
   height: 765px;
}

.container {
   width: 100%;
   height: 765px;
   background: no-repeat url(./assets/background.jpg); 
   background-size: cover;
}

.container__titles {
   width: 860px;
   position: absolute;
   top: 120px;
   left: 120px;

   color: #ffffff;
}

.title {
   font-family: 'Aleo';
   font-style: normal;
   font-weight: 700;
   font-size: 80px;
   line-height: 96px;
   color: #ffffff;
}

.title__p {
   width: 723px;
   height: 24px;
   left: 120px;
   top: 346px;
   font-family: 'Aleo';
   font-style: italic;
   color: #ffffff;
   font-size: 20px;
}

.start-planning{
   display: flex;
   align-items: center;
   flex-direction: row-reverse;
   width: 860px;
   height: 95px;
}

.start-planning__input {
   width: 860px;
   height: 95px;
   border-radius: 10px;
   background: rgba(255, 255, 255, 0.7);
   border-style: none;
   padding-left: 40px;

   font-family: 'Aleo';
   font-style: italic;
   font-weight: 400;
   font-size: 24px;
   line-height: 29px;
   color: black;
}

.start-planning__input::placeholder {
   color: #F2785C;
}

.start-planning__button {
   position: absolute;
   margin: 20px;
   width: 228px;
   height: 59px;

   justify-content: center;
   align-items: center;
   background: #0D606F;
   box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
   border-radius: 10px;
   border-style: none;

   color: #ffffff;
   font-family: 'Red Hat Text';
   font-style: normal;
   font-weight: 500;
   font-size: 24px;
   line-height: 32px;
}  

.container-three-steps {
   display: flex;
   max-width: 100%;
   height: 250px;
   margin: 80px 130px 100px 130px;
   flex-direction: column;
}

.three-steps__title {
   display: flex;
   justify-content: center;
   font-family: 'Red Hat Text';
   font-style: normal;
   font-size: 40px;
   font-weight: 500;
   line-height: 53px;
   color: #F2785C;
}

.three-steps__frame {
   display: flex;
   width: 100%;
   height: 154px;
   justify-content: space-between;
}

.destinations-title {
   font-family: 'Red Hat Text';
   font-style: normal;
   font-weight: 500;
   font-size: 40px;
   line-height: 53px;
   color: #F2785C;

   display: flex;
   justify-content: center;
}

.image-slider {
   padding: 30px 0 70px 0;
}

.image-slider__image {
   text-align: center;
}
.image-slider__image img {
   width: 100%;
}
.image-slider__image {
   max-width: 100%;
}

.image-slider .swiper-pagination {
   bottom: 0;
}
.swiper-pagination {
   position: relative;
}
.swiper-pagination-bullets.swiper-pagination-horizontal {
   bottom: 60px;
}
.swiper-pagination-bullet {
   width: 20px;
   height: 20px;
   line-height: 20px;
   font-size: 14px;
   background-color:#F2785C;
}

.destinations__button {
   display: flex;
   justify-content: center;
}

.destinations__button-more {
   padding: 0 31px;
   height: 60px;
   bottom: 37px;


   font-family: 'Red Hat Text';
   font-style: normal;
   font-weight: 500;
   font-size: 24px;
   line-height: 32px;
   color: #FFFFFF;

   border-style: none;
   background: #0D606F;
   box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
   border-radius: 10px;
}

.travel-container {
   width: 100%;
}

.travel-stories-background {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: -60px;
   background-image: url('./assets/Rectangle 33.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   z-index: -1;
}

.tarvel-storis {
   position: relative;
}

.travel-story__container {
   position: relative;
   background-color: rgba(255, 255, 255, 0.7);
   display: flex;
   flex-direction: column;
}

.travel-story {
   margin: 30px 0 30px 130px;
   display: flex;
}

.travel-story img {
   margin-right: 30px;
   width: 400px;
   height: 100%;
   background: url(robin-noguier-sydwCr54rf0-unsplash.jpg);
   filter: drop-shadow(0px 4px 4px #0D606F);
   border-radius: 16px;
}

.story__description {
   width: 760px;
   height: 184px;

   font-family: 'Aleo';
   font-style: normal;
   color: #0D606F;
}
.story__title {
   font-weight: 400;
   font-size: 35px;
   line-height: 42px;
}
.story__p {
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;
}

.travel-title {
   font-family: 'Red Hat Text';
   font-style: normal;
   font-weight: 500;
   font-size: 40px;
   line-height: 53px;
   color: #F2785C;
   display: flex;
   justify-content: center;
}

.travel-button-wrapper {
   display: flex;
   justify-content: center;
}

.travel__button-more {
   margin: 30px;
   padding: 0 31px;
   height: 60px;

   font-family: 'Red Hat Text';
   font-style: normal;
   font-weight: 500;
   font-size: 24px;
   line-height: 32px;
   color: #FFFFFF;

   border-style: none;
   background: #0D606F;
   box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
   border-radius: 10px;
}

.footer {
   width: 100%;
   display: flex;
   align-items: center;
   gap: 31%;
   justify-content: flex-end;
   font-family: 'Red Hat Text';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 21px;
   color: #FFFFFF;
   margin-left: -120px;
   margin-top: 15px;
}

.link-read-more {
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;
   font-family: 'Aleo';
   font-style: normal;
   color: #0D606F;
   font-weight: bold;
}