body {
   margin: 0;
}

.hero {
   box-sizing: content-box;
   height: 765px;
	width: 100%;
	margin: 0;
}

.header {
   right: 0;
   left: 0;
   top: 0;
   position: absolute;
   font-family: 'Red Hat Text';
   font-style: normal;
   z-index: 111;
	display: flex;
   align-items: center;
   height: 90px;
	padding: 0px 120px;
	justify-content: space-evenly;

	background-color:rgba(242, 120, 92, 0.7);
   box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}
.headerlogo {
   font-family: 'Magra';
}

.loginbutton {
	color: #ffffff;
	font-family: 'Red Hat Text';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 21px;

   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 10px 0px;
   gap: 10px;
	border-style:none;

   width: 103px;
   height: 41px;
   right: 120px;

   background: #0D606F;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
   border-radius: 10px;
}

.navul {
   width: 527px;
   height: 21px;
   left: 494px;
   top: 22px;

	display: flex;
   flex-direction: row;
   align-items: flex-start;
   gap: 42px;

	list-style-type: none;
	color: #ffffff;
	font-family: 'Red Hat Text';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 21px;
}

.pageone {
   width: 100%;
   height: 765px
   ;
}

.container {
   width: 100%;
   height: 765px;
   background: no-repeat center/100% url(./assets/background.jpg); 
}

.container__titles {
   width: 860px;
   position: absolute;
   top: 120px;
   left: 120px;

   color: #ffffff;
}

.title {
   font-family: 'Aleo';
   font-style: normal;
   font-weight: 700;
   font-size: 80px;
   line-height: 96px;
   color: #ffffff;
}

.title__p {
   width: 723px;
   height: 24px;
   left: 120px;
   top: 346px;
   font-family: 'Aleo';
   font-style: italic;
   color: #ffffff;
   font-size: 20px;
}

.start-planning{
   display: flex;
   align-items: center;
   flex-direction: row-reverse;
   width: 860px;
   height: 95px;
}

.start-planning__input {
   width: 860px;
   height: 95px;
   border-radius: 10px;
   background: rgba(255, 255, 255, 0.7);
   border-style: none;
   padding: 0;

   font-family: 'Aleo';
   font-style: italic;
   font-weight: 400;
   font-size: 24px;
   line-height: 29px;
   color: #F2785C;
}

.start-planning__button {
   position: absolute;
   margin: 20px;
   width: 228px;
   height: 59px;

   justify-content: center;
   align-items: center;
   background: #0D606F;
   box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
   border-radius: 10px;
   border-style: none;

   color: #ffffff;
   font-family: 'Red Hat Text';
   font-style: normal;
   font-weight: 500;
   font-size: 24px;
   line-height: 32px;
}  

.container-three-steps {
   width: 1177px;
   height: 250px;
   margin: 80px 130px 100px 130px;
}

.three-steps__title {
   display: flex;
   justify-content: center;
   font-family: 'Red Hat Text';
   font-style: normal;
   font-size: 40px;
   font-weight: 500;
   line-height: 53px;
   color: #F2785C;
}

.three-steps__frame {
   display: flex;
   width: 1177px;
   height: 154px;
   flex-direction: row;
   flex-wrap: wrap;
   align-content: center;
   align-items: center;
   justify-content: space-between
}
.destinations {
   display: flex;
   width: 2520px;
   height: 800px;
   flex-wrap: nowrap;
   flex-direction: column;
}

.destinations__title {
   top: 100px;
   position: relative;
   left: 318px;

   display: flex;
   justify-content: flex-start;
   font-family: 'Red Hat Text';
   font-style: normal;
   font-weight: 500;
   font-size: 40px;
   line-height: 53px;
   color: #F2785C;
}

.destinations .destinations__container-imgs img {
   width: 800px;
   height: 800px;
}
